variant: fcos
version: 1.4.0
storage:
  # if necessary, the boot partition could be shrunken
  filesystems:
    - device: /dev/disk/by-partlabel/root
      wipe_filesystem: true
      format: btrfs
      label: root
      mount_options: ["compress=zstd"]
  files:
    - path: /etc/ssh/sshd_config.d/90-change-port.conf
      overwrite: true
      contents: |
        # Changing the ssh port
        Port 69
    - path: /etc/ssh/sshd_config.d/40-prohibit-root-login.conf
      overwrite: true
      contents: |
        # Prohibiting login as root
        PermitRootLogin no
systemd:
  units:
    - name: docker.socket
      enabled: false
      mask: true
    - name: docker.service
      enabled: false
      mask: true
    - name: podman.socket
      enabled: true
passwd:
  users:
    - name: {{ ansible_user }}
      ssh_authorized_keys:
        - {{ lookup('file', ansible_ssh_private_key_file+'.pub', errors='strict') }}
      groups:
        - sudo
