variant: fcos
version: 1.4.0
storage:
  disks:
    # I hope it stays the same
    # TODO: The partition numbers could be dynamic
    - device: /dev/{{ edge_install_installation_drive }}
      partitions:
        - number: 5
          wipe_partition_entry: True
          should_exist: False
        # We use /var to host the container volumes subvolume
        - number: 4
          resize: True
          size_mib: 0
#  This doesn't work on MicroOS right now
#  filesystems:
#    - device: '/dev/disk/by-partlabel/p.spare'
#      format: btrfs
#      mount_options: ["compress=zstd"]
  files:
    - path: /etc/ssh/sshd_config.d/90-change-port.conf
      overwrite: true
      contents:
        inline: |
          # Changing the ssh port
          Port {{ edge_install_ansible_port }}
    - path: /etc/ssh/sshd_config.d/40-prohibit-root-login.conf
      overwrite: true
      contents:
        inline: |
          # Prohibiting login as root
          PermitRootLogin no
    - path: /etc/sudoers.d/90-permit-user-nopasswd
      overwrite: true
      contents:
        inline: |
          # Permit passwordless sudo to {{ edge_install_ansible_user }}
          {{ edge_install_ansible_user }} ALL=(ALL:ALL) NOPASSWD: ALL
systemd:
  units:
    - name: podman.socket
      enabled: true
    - name: sshd.service
      enabled: true
