variant: fcos
version: 1.4.0
storage:
  disks:
    # I hope it stays the same
    # TODO: The partition numbers could be dynamic
    - device: /dev/{{ edge_install_installation_drive }}
      partitions:
        - number: 5
          wipe_partition_entry: True
          should_exist: False
        # We use /var to host the container volumes subvolume
        - number: 4
          resize: True
          size_mib: 0
#  filesystems:
#    This doesn't seem to work epic incredible
#    - device: /dev/disk/by-partlabel/p.lxroot
#      path: /home
#      format: btrfs
#      wipe_filesystem: False
#      mount_options: ["subvol=/@/home"]
  files:
    - path: /etc/ssh/sshd_config.d/90-change-port.conf
      overwrite: true
      contents:
        inline: |
          # Changing the ssh port
          Port {{ edge_install_ansible_port }}
    - path: /etc/ssh/sshd_config.d/40-prohibit-root-login.conf
      overwrite: true
      contents:
        inline: |
          # Prohibiting login as root
          PermitRootLogin no
    - path: /etc/ssh/sshd_config.d/40-disable-password-authentication.conf
      overwrite: true
      contents:
        inline: |
          # Disable Password and Challenge Authentication
          PasswordAuthentication no
          ChallengeResponseAuthentication no
    - path: /etc/sudoers.d/90-permit-user-nopasswd
      overwrite: true
      contents:
        inline: |
          # Permit passwordless sudo to {{ edge_install_ansible_user }}
          {{ edge_install_ansible_user }} ALL=(ALL:ALL) NOPASSWD: ALL
#    - path: /etc/sysctl.d/10-change-unprivileged-port.conf
#      overwrite: true
#      contents:
#        inline: |
#          # First unprivileged port is now 20. There's probably no point in lowering it
#          net.ipv4.ip_unprivileged_port_start = 20
systemd:
  units:
    - name: docker.service
      enabled: true
    - name: sshd.service
      enabled: true
#passwd:
#  users:
#    - name: {{ edge_install_ansible_user }}
#      ssh_authorized_keys:
#        - {{ lookup('ansible.builtin.file', ansible_ssh_private_key_file+'.pub') }}
#      groups: ['docker']
