[Unit]
Description = beet import

[Service]
Type = exec
User = {{ ansible_user }}
Group = docker
WorkingDirectory = {{ navidrome_config_folder }}
ExecStart = docker compose exec -u abc beets beet import -q /downloads
