variant: fcos
version: 1.4.0
storage:
  disks:
    # Hopefully the disk file stays the same
    - device: {{ ("/dev/", hetzner_install_installation_drive) | path_join }}
      partitions:
        #TODO: Get partition number from `hetzner_install_ignition_partition` variable
        - number: 6
          should_exist: False
          wipe_partition_entry: True
        - number: 4
          resize: True
          size_mib: {{ (swap_partition_details['start'] | int - spare_partition_details['start'] | int)*(swap_partition_details['sectorsize'] | int)/(1024**2) }}
        - number: 5
          resize: True
          size_mib: 0
  files:
    - path: /etc/ssh/sshd_config.d/90-change-port.conf
      overwrite: true
      contents:
        inline: |
          # Changing the ssh port
          Port {{ hetzner_install_ansible_port }}
    - path: /etc/ssh/sshd_config.d/40-prohibit-root-login.conf
      overwrite: true
      contents:
        inline: |
          # Prohibiting login as root
          PermitRootLogin no
    - path: /etc/ssh/sshd_config.d/40-allow-tcp-forwarding.conf
      overwrite: true
      contents:
        inline: |
          # Allow TCP port forwarding
          AllowTcpForwarding yes
          # Disabling Remote forwarding
          PermitListen none
          # Enabling forwarding only to loopback
          PermitOpen localhost:*
          PermitOpen 127.0.0.1:*
          PermitOpen [::1]:*
    - path: /etc/ssh/sshd_config.d/40-disable-password-authentication.conf
      overwrite: true
      contents:
        inline: |
          # Disable Password and Challenge Authentication
          PasswordAuthentication no
          ChallengeResponseAuthentication no
    - path: /etc/sudoers.d/90-permit-user-nopasswd
      overwrite: true
      contents:
        inline: |
          # Permit passwordless sudo to {{ hetzner_install_ansible_user }}
          {{ hetzner_install_ansible_user }} ALL=(ALL:ALL) NOPASSWD: ALL
    - path: /etc/logrotate.conf
      append:
        - inline: |
            rotate 0
systemd:
  units:
    - name: docker.service
      enabled: true
    - name: sshd.service
      enabled: true
#passwd:
#  users:
#    - name: {{ hetzner_install_ansible_user }}
#      ssh_authorized_keys:
#        - {{ lookup('ansible.builtin.file', ansible_ssh_private_key_file+'.pub') }}
#      groups: ['docker']
